.imageWrapper {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
}

.textWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.memeText {
    position: absolute;
    top: 0;
    border: none;
    width: 290px;
    background-color: #f0f8ff00;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


.captionArea {
  display: flex;
  position: absolute;
  top: 500px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%)
}

/* textarea#topLine {
  position: absolute;
  top: 0;
  width: 250px;
  background-color: #f0f8ff00;
  border: 2px solid green;
}

textarea#bottomLine {
  position: absolute;
  bottom: 0;
  width: 250px;
  background-color: #f0f8ff00;
  border: 2px solid green;
} */