.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.generatedMemes {
  margin: 10px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}